<div ng-controller="loginCtrl">
    <div class="left">
        <h3>Login</h3>
        <form ng-submit="loginUser(login)">
            <p>
                <input type="text" placeholder="Username" ng-model="login.username">
            </p>
            <p>
                <input type="password" placeholder="Password" ng-model="login.password">
            </p>
            <button>Submit</button>
        </form>
    </div>
    <div class="right">
        <h3>Register</h3>
        <form ng-submit="registerUser(register)">
            <p>
                <input type="text" placeholder="Username" ng-model="register.username">
            </p>
            <p>
                <input type="text" placeholder="Summoner Name" ng-model="register.summonerName">
            </p>
            <p>
                <input type="email" placeholder="Email Address" ng-model="register.email">
            </p>
            <p>
                <input type="password" placeholder="Password" ng-model="register.password">
            </p>
            <button>Submit</button>
        </form>
    </div>
</div>
